<table>
    <thead>
        <td>id</td>
        <td>comment</td>
        <td>
            <button (click)="orderFeedbacks()" class="operation-btn">
                rating
            </button>
        </td>
        <td>publish date</td>
        <td>module</td>
        <th class="centered-cell">
            <button matButton (click)="addFeedback()">Add</button>
        </th>
    </thead>
    <tbody>
        @for (feedback of feedbacks(); track feedback.id){
            <tr [ngClass]="{ 'negative-feedback': feedback.rating<3 }">
                <td>{{feedback.id}}</td>
                <td>{{feedback.comment}}</td>
                <td>{{feedback.rating}}</td>
                <td>{{feedback.publishDate.seconds * 1000 | date}}</td>
                <td>{{feedback.moduleId}}</td>
                <td class="centered-cell">
                    <button (click)="removeFeedback(feedback)" type="button" class="operation-btn">
                        <svg icon="trash"></svg>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>