<form action="" class="login-form" [formGroup]="form" (ngSubmit)="onSubmit($event)">
    <h1 class="h1 mb60">Login</h1>
    <label class="control-label mb16">
        Login
        <div class="icon-input-wrapper">
            <input name="login" formControlName="username" class="input" type="text" placeholder="Login" />
            <button type="button" class="icon-btn">
                <svg icon="person"></svg>
            </button>
        </div>
    </label>
    <label class="control-label mb32">
        Password
        <div class="icon-input-wrapper">
            <input name="password" formControlName="password" class="input"
                [type]="isPasswordVisible() ? 'text' : 'password'" placeholder="Password" />
            <button type="button" (click)="isPasswordVisible.set(!isPasswordVisible())" class="icon-btn icon-eye">
                <svg [class.active]="isPasswordVisible()" icon="eye"></svg>
            </button>
        </div>
    </label>
    <button type="submit" class="btn btn-shadow">Login</button>
</form>
<div class="login_logo-wrapper">
    <img src="/assets/svg/logo.svg" alt="talk-me" />
    <img class="login_logo-talk-me" src="/assets/img/logo.png" alt="logo-talk-me" />
</div>